p {
    background-color: blue;
    color: #fff;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
}

 header {


}

body {



}

a {



}

#destinations {
    background-color: red;
}

.section {

    color: purple;

}